body {
	font-size: 18px;
	color: white;
	background-color: #DAA520;
	font-family: 'Lobster', cursive;

}
p{
	font-family: 'Jost', sans-serif;

}
/* HEADER */
@media (min-width: 768px) {
  .navbar > .container .navbar-brand{
    margin-left: -15px;
  }
}

@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
}

#header-nav {
	background-color: #B22222;
	border-radius: 0;
	border: 0;
	color: #8B4513;
}




.navbar-header button.navbar-toggler, .navbar-header .icon {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggler {
  clear: both;
  margin-top: -30px;
}
#nav-list{
	margin-top: 10px;
}
#nav-list a {
	color: white;
	text-align: center;
}

#nav-list a:hover {
	background-color: #8243d6;
}
/* END HEADER */
 
/* Section */
#home {
	margin-bottom: 20px;
	color: #191970;
	text-shadow: #228B22;
}

.row {
	
	position: relative;
	float: left;
}

.row > div > article {
	background-color: white;
	text-align: justify;
	margin-bottom: 20px;
	padding: 15px;
	color: black;
}
/* End Section */


@media (max-width: 767px) {
	.row > div > article {
		width: 80%;
		margin: 20px auto 0;
	}
}
